<div>
  <div class="row text-center m-5">
    <div class="col-6 mt-5 mb-5">
      <h2>Login</h2>
    </div>
    <div class="col-12">
      <form (submit)="login()" [formGroup]="this.formLogin">
        <div class="input-group mb-3">
          <label for="email" class="input-group-text">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            formControlName="email"
            placeholder="Ingresar email"
          />
        </div>
        <div
          class="alert alert-warning col"
          role="alert"
          *ngIf="this.getCampoValid('email')"
        >
          <label>Este campo no es valido</label>
        </div>
        <div class="input-group mb-3">
          <label for="password" class="input-group-text">Password</label>
          <input
            type="password"
            id="password"
            class="form-control"
            formControlName="password"
            placeholder="Ingresar password"
          />
        </div>
        <div
          class="alert alert-warning col"
          role="alert"
          *ngIf="this.getCampoValid('password')"
        >
          <label>Este campo no es valido</label>
        </div>
        <button class="btn btn-primary p-2 mt-3">Login</button>
      </form>
    </div>
  </div>
</div>
